
@model Dictionary<string, string>

<footer>
    <div class="container">
        <span id="hr"></span>
        <div class="row">
            <div id="h-item" class="col-12 col-lg-8">
                <div class="footer-item d-flex">
                    <div class="content">
                        <a class="title" href="~/assets/#">
                            <h5>Get Help</h5>
                        </a>
                        <ul>
                            <li><a asp-controller="help" asp-action="faq">Frequently Asked Questions</a></li>
                            <li><a asp-controller="help" asp-action="return">Returns</a></li>
                            <li><a asp-controller="help" asp-action="support">24/7 Support</a></li>
                        </ul>
                    </div>
                    <div class="content">
                        <a class="title" href="~/assets/#">
                            <h5>LEGAL & PRIVACY</h5>
                        </a>
                        <ul>
                            <li><a asp-controller="privacy" asp-action="transparency">CA Transparency Act</a></li>
                            <li><a asp-controller="privacy" asp-action="condition">Conditions of Use</a></li>
                            <li><a asp-controller="privacy" asp-action="PrivacyPolicy">Privacy Policy</a></li>
                            <li><a asp-controller="privacy" asp-action="TermsCondition">PowerUp Rewards Terms & Conditions</a></li>
                        </ul>
                    </div>
                    <div class="content">
                        <a class="title" href="~/assets/#">
                            <h5>ABOUT US</h5>
                        </a>
                        <ul>
                            <li><a asp-controller="about" asp-action="accessibility">Accessibility</a></li>
                            <li><a asp-controller="about" asp-action="affiliates">Affiliates</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="mb-signup">
                <form action="#" role="form">
                    <div class="footer-signup">
                        <div class="ftr-title">
                            <h5>Sign Up</h5>
                        </div>
                        <p class="mb-2">Get Exclusive Promotions, Coupons, and the Latest Events</p>
                        <div class="input d-flex">
                            <input type="text" class="form-control" placeholder="Enter Your Email">
                            <span class="input-group">
                                <button type="submit" class="btn">
                                    JOIN
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item col-sm-4">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Get Help
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul>
                                <li><a asp-controller="help" asp-action="faq">Frequently Asked Questions</a></li>
                                <li><a asp-controller="help" asp-action="return">Returns</a></li>
                                <li><a asp-controller="help" asp-action="support">24/7 Support</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item col-sm-4" ">
                    <h2 class=" accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Legal Privacy
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul>
                                <li><a asp-controller="privacy" asp-action="transparency">CA Transparency Act</a></li>
                                <li><a asp-controller="privacy" asp-action="condition">Conditions of Use</a></li>
                                <li><a asp-controller="privacy" asp-action="PrivacyPolicy">Privacy Policy</a></li>
                                <li><a asp-controller="privacy" asp-action="TermsCondition">PowerUp Rewards Terms & Conditions</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item col-sm-4">
                    <h2 class=" accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            About Us
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul>
                                <li><a asp-controller="about" asp-action="accessibility">Accessibility</a></li>
                                <li><a asp-controller="about" asp-action="affiliates">Affiliates</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="footer-social">
                    <form action="#" role="form">
                        <div id="h-signup" class="footer-signup">
                            <div class="ftr-title">
                                <h5>Sign Up</h5>
                            </div>
                            <p class="mb-2">Get Exclusive Promotions, Coupons, and the Latest Events</p>
                            <div class="input d-flex">
                                <input type="text" class="form-control" placeholder="Enter Your Email">
                                <span class="input-group">
                                    <button type="submit" class="btn">
                                        JOIN
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>
                    <div class="content-app">
                        <div id="app-title" class="app-title">
                            <h5>Get The App</h5>
                        </div>
                        <div class="app">
                            <a href="~/assets/https://apps.apple.com/us/app/gamestop/id406033647">
                                <img src="https://www.gamestop.com/on/demandware.static/Sites-gamestop-us-Site/-/default/v1672246282215/images/apple-store.png"
                                     alt="">
                            </a>
                            <a href="~/assets/https://play.google.com/store/apps/details?id=com.gamestop.powerup">
                                <img src="https://www.gamestop.com/on/demandware.static/Sites-gamestop-us-Site/-/default/v1672246282215/images/play-store.png"
                                     alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="footer-social-spacer">
                    <h5>CONNECT WITH US</h5>
                    <div class="footer-icon">
                        <a href="@Model.FirstOrDefault(f => f.Key == "FB-Link").Value" class="icon icon-facebook" target="_blank"></a>
                        <a href="@Model.FirstOrDefault(f => f.Key == "TW-Link").Value" class="icon icon-twitter" target="_blank"></a>
                        <a href="@Model.FirstOrDefault(f => f.Key == "YT-Link").Value" class="icon icon-youtube" target="_blank"></a>
                        <a href="@Model.FirstOrDefault(f => f.Key == "IG-Link").Value" class="icon icon-instagram" target="_blank"></a>
                    </div>
                </div>

            </div>
            <div class="col-12 footer-subtext">
                <div class="content-text">
                    <span class="footer-copyright">
                        <span>© 1999-2023 GameStop</span>
                    </span>
                    <ul class="footer-country-list">
                        <li class="country">Australia & New Zealand</li>
                        <li class="country">Austria</li>
                        <li class="country">Canada</li>
                        <li class="country">France</li>
                        <li class="country">Germany</li>
                        <li class="country">Ireland</li>
                        <li class="country">Italy</li>
                        <li class="country">Switzerland</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</footer>