@model LoginVM


@{ Layout = null;
    ViewData["Title"] = "Login"; }



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="~/assets/style/style.css">
    <link rel="icon" href="https://www.gamestop.com/on/demandware.static/Sites-gamestop-us-Site/-/default/dwfa874e29/images/favicons/favicon.ico">

</head>

<body>

    <div class="loginHeader">
        <div class="header-logo">
            <a asp-controller="home" asp-action="index"><img src="https://www.gamestop.com/on/demandware.static/Sites-gamestop-us-Site/-/default/dwe31411ff/images/svg-icons/logo-gs-mono.svg" alt="header logo"></a>
        </div>
    </div>

    <div class="loginGameStop">
        <div class="login-content">
            <h2 class="title-login">
                Sign in to GameStop
            </h2>
        </div>

        <form method="post" autocomplete="off">
            <div class="text text-danger" style="color: red;display: flex; justify-content: center;" asp-validation-summary="ModelOnly"></div>
            <div class="loginPage">

                <div class="loginSection">
                    <div class="loginEmail">
                        <label asp-for="Email" class="form-label">Email address</label>
                        <div class="login-email-field">
                            <input asp-for="Email" id="sign_in_email" aria-required="true">
                        </div>
                    </div>
                    <div class="loginPass">
                        <label asp-for="Password" class="form-label">Password</label>
                        <div class="login-email-field">
                            <input asp-for="Password" maxlength="72" id="sign_in_passwd">
                        </div>
                    </div>
                    <div class="bottomInput">
                        <div class="top-text">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox small">
                                    <input  class="custom-control-input" asp-for="RememberMe">
                                    <label class="custom-control-label" asp-for="RememberMe">
                                        Remember
                                        Me
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="loginButton">
                        <button type="submit" class="btn-login">Sign in</button>
                    </div>

                    <div class="helper-text">
                        <a asp-controller="user" asp-action="register">Create a GameStop account</a>
                    </div>
                </div>
            </div>
        </form>

    </div>

</body>

</html>

@section Script{
    <partial name="_ValidationPartial">
}
