@model RegisterVM
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="~/assets/style/style.css">
    <link rel="icon" href="https://www.gamestop.com/on/demandware.static/Sites-gamestop-us-Site/-/default/dwfa874e29/images/favicons/favicon.ico">

</head>

<body>

    <div class="loginHeader">
        <div class="header-logo">
            <a asp-controller="home" asp-action="index"><img src="https://www.gamestop.com/on/demandware.static/Sites-gamestop-us-Site/-/default/dwe31411ff/images/svg-icons/logo-gs-mono.svg" alt="header logo"></a>
        </div>
    </div>

    <form action="#" method="post" autocomplete="off">
        <div class="registerGameStop">
            <div class="register-content">
                <h2 class="title-register">
                    Create Account
                </h2>
            </div>

            <div class="registerPage">

                <div class="registerSection">
                    <div class="registerName">
                        <label asp-for="Name" class="form-label">First Name</label>
                        <div class="register-name-field">
                            <input name="name" type="text" asp-for="Name">
                        </div>
                    </div>
                    <div class="registerLastName">
                        <label asp-for="Surname" class="form-label">Last Name</label>
                        <div class="register-last-name-field">
                            <input name="last-name" type="text" asp-for="Surname">
                        </div>
                    </div>
                    <div class="registerEmail">
                        <label asp-for="Email" class="form-label">
                            Email address
                            <span class="form-indicator">*</span>
                        </label>
                        <div class="register-email-field">
                            <input name="email" type="email" asp-for="Email">
                        </div>
                    </div>
                    <div class="passwdSection">
                        <div class="registerPass">
                            <label asp-for="Password" class="form-label">
                                Password
                                <span class="form-indicator">*</span>
                            </label>
                            <div class="register-password-field">
                                <input name="passwd" maxlength="72" type="password" asp-for="Password">
                            </div>
                        </div>

                        <div class="registerPass">
                            <label asp-for="ConfirmPassword" class="form-label">
                                Confirm Password
                                <span class="form-indicator">*</span>
                            </label>
                            <div class="register-password-field">
                                <input name="passwd_confirmation" maxlength="72" type="password" asp-for="ConfirmPassword">
                            </div>
                        </div>
                    </div>
                    <div class="bottomInput">
                        <div class="top-text">
                            <div class="signup-help-text">By clicking 'Create account', you agree to our <a href="~/assets/TermsCondition.html" target="_blank" class="daisy-link">Conditions of Use </a> and acknowledge that you have read our <a href="~/assets/PrivacyPolicy.html" target="_blank" class="daisy-link">Privacy Policy</a> and <a href="~/assets/condition.html" target="_blank" class="daisy-link">Terms & Conditions</a>.</div>
                        </div>
                    </div>

                    <div class="registerButton">
                        <button type="submit" class="btn-login">Create account</button>
                    </div>


                </div>

            </div>
            <div class="helper-text">
                Already created an account?
                <a asp-controller="user" asp-action="login">Log in here.</a>
            </div>


        </div>
    </form>

</body>

</html>

@section Script{ 
  <partial name="_ValidationPartial">;
}