
@{
    ViewData["Title"] = "Index";
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sell Your Electronics for Cash or Credit | GameStop</title>
    <link rel="stylesheet" href="~/assets/style/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel=”stylesheet” href=”https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css” />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"
          integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
          integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="icon" href="https://www.gamestop.com/on/demandware.static/Sites-gamestop-us-Site/-/default/dwfa874e29/images/favicons/favicon.ico">
</head>

<div class="tradeTopSection">
    <div class="tradeImg">
        <div class="mb-img">
            <img src="https://media.gamestop.com/i/gamestop/TradeMessaging_375x156_Hero_M/trade.jpeg" alt="Trade Img">
        </div>
        <div class="h-img">
            <img src="https://media.gamestop.com/i/gamestop/TradeMessaging_1280x300_Hero_D/trade.jpeg" alt="Trade Img">
        </div>
    </div>
</div>

<div class="sellingItems">
    <div class="selling-content">
        <div class="selling-center">
            <h2>
                <span>How To Sell Your Items</span>
            </h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="sellingItemsCard">
                        <div class="selling-items-card">
                            <div class="card col-6 col-lg-3 col-md-3">
                                <img src="https://media.gamestop.com/i/gamestop/Trade-Icon-Step-1" class="card-img-top" alt="1">
                                <div class="card-body">
                                    <h5 class="card-title">FIND PRODUCT VALUES 24/7</h5>
                                    <p class="card-text">The GameStop website and app both have up-to-the-minute values for electronics, consoles, games, accessories, collectibles, and more! Take a look today to see what your stuff's worth.</p>
                                </div>
                            </div>
                            <div class="card col-6 col-lg-3 col-md-3">
                                <img src="https://media.gamestop.com/i/gamestop/Trade-Icon-Step-2" class="card-img-top" alt="2">
                                <div class="card-body">
                                    <h5 class="card-title">COME IN & MAKE THE SALE</h5>
                                    <p class="card-text">Head to your local GameStop. Bring any cords, chargers, and accessories that go with your item. Charge it up, delete any personal info, and remove any SIM/memory cards.</p>
                                </div>
                            </div>
                            <div class="card col-6 col-lg-3 col-md-3">
                                <img src="https://media.gamestop.com/i/gamestop/Trade-Icon-Step-3" class="card-img-top" alt="3">
                                <div class="card-body">
                                    <h5 class="card-title">GET PAID YOUR WAY</h5>
                                    <p class="card-text">You can choose to receive in-store-credit for max-value on your items, or get paid in cash. And remember, PowerUp Rewards Pro Members get 10% extra in value on most items. See trade value for details.</p>
                                </div>
                            </div>
                            <div class="card col-6 col-lg-3 col-md-3">
                                <img src="https://media.gamestop.com/i/gamestop/Trade-Icon-Step-4" class="card-img-top" alt="4">
                                <div class="card-body">
                                    <h3 class="card-title">YOUR ITEM IS RESTORED</h3>
                                    <p class="card-text">Every item is fully tested for functionality and repaired and restored to a like-new state. We also thoroughly clean and disinfect every item prior to resell.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tradeMain">
    <div class="tradeImgMain ">
        <div class="container-fluid">
            <div class="row">
                <div class="allImg">
                    <div class="imgTop">
                        <div class="mb-img">
                            <img src="https://media.gamestop.com/i/gamestop/trade_WK1_ConsoleTradeOffer_551x200_HalfBlade2_M.webp" alt="mb img">
                            <img src="https://media.gamestop.com/i/gamestop/trade_WK1_ConsoleTradeOffer_551x200_HalfBlade_M.webp" alt="mb img">
                        </div>
                        <div class="h-img">
                            <img src="https://media.gamestop.com/i/gamestop/trade_WK1_ConsoleTradeOffer_696x200_HalfBlade2_D.webp?w=1280" alt="desktop img">
                            <img src="https://media.gamestop.com/i/gamestop/trade_WK1_ConsoleTradeOffer_696x200_HalfBlade_1_D.webp?w=1280" alt="desktop img">
                        </div>
                    </div>
                    <div class="centerImg">
                        <div class="mb-img">

                        </div>
                        <div class="h-img">
                            <img src="https://media.gamestop.com/i/gamestop/Apple_Trade_Full_Blade_1440x200_D_1.webp" alt="#">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="brandMain">
    <div class="brands-content">
        <div class="container-fluid">
            <div class="row">
                <div class="allBrand">
                    <div class="brandHeading">
                        <h2>Brands</h2>
                    </div>
                    <div class="imgBrand  ">
                        <div class="brandImg">
                            <img src="https://media.gamestop.com/i/gamestop/Apple_448x252_Brand_D.webp" alt="apple">
                        </div>
                        <div class="brandImg">
                            <img src="https://media.gamestop.com/i/gamestop/Samsung_448x252_Brand_D.webp" alt="samsung">
                        </div>
                        <div class="brandImg">
                            <img src="https://media.gamestop.com/i/gamestop/Xbox_448x252_Brand_D.webp" alt="xbox">
                        </div>
                        <div class="brandImg">
                            <img src="https://media.gamestop.com/i/gamestop/PlayStation_448x252_Brand_D.webp" alt="playstation">
                        </div>
                        <div class="brandImg">
                            <img src="https://media.gamestop.com/i/gamestop/Nintendo_448x252_Brand_D.webp" alt="nintendo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="most-wanted-items">
    <div class="items-content">
        <div class="header-top">
            <h2>Most Wanted Items</h2>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="mostWantedCard">
                    <div class="allCard">
                        <div class="itemsCard">
                            <div class="itemsImg">
                                <img src="https://media.gamestop.com/i/gamestop/PS4Pro_224x224_5Up_D.webp" alt="ps">
                            </div>
                            <div class="itemsText">
                                <p>PlayStation 4 Pro 1TB</p>
                            </div>
                        </div>
                        <div class="itemsCard">
                            <div class="itemsImg">
                                <img src="https://media.gamestop.com/i/gamestop/XB1X_224x224_5Up_D.webp" alt="xbox">
                            </div>
                            <div class="itemsText">
                                <p>Xbox One X 1TB</p>
                            </div>
                        </div>
                        <div class="itemsCard">
                            <div class="itemsImg">
                                <img src="https://media.gamestop.com/i/gamestop/NSW_224x224_5Up_D.webp" alt="nintendo">
                            </div>
                            <div class="itemsText">
                                <p>Nintendo Switch</p>
                            </div>
                        </div>
                        <div class="itemsCard">
                            <div class="itemsImg">
                                <img src="https://media.gamestop.com/i/gamestop/XBController_224x224_5Up_D.webp" alt="xbox">
                            </div>
                            <div class="itemsText">
                                <p>PlayStation 4 Pro 1TB</p>
                            </div>
                        </div>
                        <div class="itemsCard">
                            <div class="itemsImg">
                                <img src="https://media.gamestop.com/i/gamestop/iPhone_224x224_5Up_D.webp" alt="ps">
                            </div>
                            <div class="itemsText">
                                <p>PlayStation 4 Pro 1TB</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

