@model IEnumerable<Product>

    <div id="br_crumbs" class="row">
        <div style="margin-bottom: 1px;" class="breadcrumbs">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">
                        Xbox Series X|S
                    </li>
                </ol>
            </nav>
        </div>
    </div>



    <div class="category-card">
        <div class="container">
            <div class="row">

            </div>
            <div class="row paginationRes">
                <div class="col-12 text-center pagaga">
                    <nav class="pagination-mobile">
                        <button class="pagination-button" id="prev-button" aria-label="Previous page" title="Previous page">
                        </button>

                        <div id="pagination-numbers1">

                        </div>

                        <button class="pagination-button" id="next-button" aria-label="Next page" title="Next page">
                        </button>
                    </nav>
                </div>
            </div>
        </div>
    </div>
