
@{
    ViewData["Title"] = "Affiliates";
}



<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consoles, Collectibles, Video Games, and More – Buy, Sell or Trade | GameStop</title>
    <link rel="stylesheet" href="~/assets/style/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel=”stylesheet” href=”https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css” />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"
          integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
          integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="icon" href="https://www.gamestop.com/on/demandware.static/Sites-gamestop-us-Site/-/default/dwfa874e29/images/favicons/favicon.ico">
</head>



<div class="affContent">
    <div class="mainAff">
        <div class="container-fluid">
            <div class="row">
                <div class="allAff col-lg-12">
                    <div class="af-main">
                        <div class="contentTop">
                            <h1>Affiliate Application</h1>
                            <h2>
                                Build a Better Site <h2>
                                    <p>
                                        Promoting GameStop products on your Website enriches your site with an endless stream of content and gives your readers a reason to keep coming back. There is truly something for everyone at GameStop!
                                    </p>
                        </div>
                        <ul class="contentDesc">
                            <li>
                                Get the easiest and most powerful commission earnings tools in online commerce
                            </li>
                            <li>
                                Link to thousands of games, systems, accessories, toys and more
                            </li>
                            <li>
                                Plus, link to our bargain sections, best-seller lists, gaming platforms and so much more
                            </li>
                        </ul>
                    </div>
                    <div class="af-main">
                        <div class="contentTop">
                            <h2>
                                It's Easy and Free<h2>
                                    <p>
                                        There's no charge to participate in the GameStop Affiliate Program. In fact, we pay you!
                                    </p>
                        </div>
                        <ul class="contentDesc">
                            <li>
                                Earn commission for click-throughs and purchases on GameStop.com
                            </li>
                            <li>
                                Benefit from our exciting promotions and creative
                            </li>
                            <li>
                                Plus, we have the world's largest collection of gaming products... which means more earning potential for you
                            </li>
                        </ul>
                    </div>
                    <div class="af-main">
                        <div class="contentTop">
                            <h2>
                                A Name They Know and Trust
                                <h2>
                                    <p>
                                        When you link to GameStop.com, you send your customers to a trusted retailer with over 4,000 stores. Plus, you gain the confidence of knowing that they'll receive the same high-quality service and competitive prices we give to all our GameStop customers!
                                    </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>