
@{
    ViewData["Title"] = "Transparency";
}


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>California Human Trafficking in the Supply Chain Disclosure - CA SB 657 | GameStop</title>
    <link rel="stylesheet" href="~/assets/style/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel=”stylesheet” href=”https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css” />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"
          integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
          integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="icon" href="https://www.gamestop.com/on/demandware.static/Sites-gamestop-us-Site/-/default/dwfa874e29/images/favicons/favicon.ico">
</head>



<div class="transparencyContent">
    <div class="transparency-main">
        <div class="container-fluid">
            <div class="row">
                <div class="allTransparency">
                    <div class="container-top">
                        <h1>California Human Trafficking in the Supply Chain Disclosure - CA SB 657</h1>
                    </div>

                    <div class="container-desc">
                        <p>GameStop is committed to conducting its business on the principles of integrity and sound business ethics. We are also committed to holding our manufacturers, vendors and suppliers to these same principles, which include taking measures to ensure that parties we do business with maintain basic labor and human rights standards for their workers.</p>
                        <p>To this end, GameStop has established a Code of Conduct to which each contract manufacturer for exclusive-branded products must adhere. The Code of Conduct represents GameStop's commitment to source this merchandise from persons and firms that strive to maintain comprehensive corporate responsibility programs and adhere to GameStop's expectations regarding human trafficking, forced labor and a variety of other important issues. Specifically, our Code of Conduct prohibits these manufacturers from utilizing any form of forced labor, whether in the form of child labor, prison labor, bonded labor, indentured labor or otherwise. Manufacturers we contract with who fail to meet these standards would be in breach of our agreement. We also require manufacturers we contract with to ensure their subcontractors adhere to our Code of Conduct.</p>
                        <p>Members of our direct import and merchandising teams personally visit the factories where our exclusive-branded products are produced. In addition, we have in the past, and will continue to in the future, engage a third party to perform scheduled factory audits of our manufacturing vendors to ensure they are operating within the parameters of our Code of Conduct. These audits will continue on a periodic basis for as long as we do business with each of these manufacturers.</p>
                        <p>In addition to the above, each contract manufacturer is required to independently maintain sufficient documentation of its compliance with our Code of Conduct. GameStop will quickly investigate any reports of human trafficking anywhere in its supply chain, and will take swift action against any supplier that is found to have acted improperly. While contract manufacturers are not required to certify that all materials incorporated into the products they produce comply with laws regarding slavery and human trafficking, both these suppliers and their subcontractors must adhere to the Code of Conduct and certify that all their operations are completely free of any form of child labor, prison labor, bonded labor, indentured labor or otherwise.</p>
                        <p>In addition, all GameStop merchandising employees who maintain relationships with vendors are required to adhere to the GameStop Code of Standards, Ethics and Conduct. The Code of Standards, Ethics and Conduct requires all employees to observe high ethical standards in the performance of their jobs and in their relationships with customers, vendors, their community, and their coworkers. Failure by an employee to follow the standards set forth in the Code of Standards, Ethics and Conduct may subject such employee to disciplinary action up to and including termination of employment.</p>

                    </div>

                    <div class="container-top">
                        <h1>Accessibility</h1>
                    </div>

                    <div class="container-desc">
                        <p>
                            The Gamestop.com website is monitored and tested regularly by internal resources and by AudioEye, Inc., a 3rd-Party provider of Web Accessibility testing and monitoring. The AudioEye certification process involves automatic and manual testing with the goal of meeting Web Content
                            Accessibility Guidelines (WCAG) 2.0 Level AA Standards.
                        </p>
                        <p>AudioEye certifies that the gamestop.com website is enhanced and optimized to meet the WCAG 2.0 Level AA Success Criteria to the greatest extent possible. This ongoing process includes regular releases that improve access and usability for site visitors. Gamestop.com designers and developers are actively making progress in pursuit of achieving full conformance to the WCAG 2.0 Level AA standard.</p>
                        <p>Have a usability issue? Please provide your feedback to support@gamestop.com</p>
                        <p>
                            This website has been tested using a variety of assistive technologies. We recommend using the following web browser / screen reader combinations for an optimized experience:

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

