@model Product



<div class="contentDynm">
    <div class="col-lg-5">
        <div class="form-group">
            <label>Select Platform</label>
            <select class="form-control" name="LabelIds[]"  asp-items="@new SelectList(ViewBag.Label, nameof(Label.Id), nameof(Label.Name))">
            </select>
        </div>
    </div>
    <div id="countMaster" class="col-lg-5">
        <div class="form-group">
            <label>Enter Count</label>
            <input class="form-control" name="CondCounts[]" placeholder="Enter Count" />
        </div>

    </div>

    <div class="addInputButton">
        <a asp-action="getlabelcountt" id="inputadding">
            <i class="fa-solid fa-plus"></i>
        </a>

        @*<a class="removeLabel" id="inputadding" asp-area="admin" asp-controller="product" asp-action="removelabel" asp-route-id="@Model.ProductLabels.Select(x=>x.Id).ToList()">
                <i class="fa-solid fa-minus"></i>
            </a>*@
    </div>
</div>


