
@{
    ViewData["Title"] = "Return";
}



<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Return Easy | GameStop</title>
    <link rel="stylesheet" href="~/assets/style/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel=”stylesheet” href=”https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css” />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"
          integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
          integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="icon" href="https://www.gamestop.com/on/demandware.static/Sites-gamestop-us-Site/-/default/dwfa874e29/images/favicons/favicon.ico">
</head>


<div class="return-center">
    <div class="return-section">
        <div class="container-fluid">
            <div class="row">
                <div class="allReturn col-lg-12">
                    <div class="returnAll">
                        <div class="topHeader">
                            Return Policy
                        </div>
                        <div class="returnMain">
                            <div class="returnHeader">
                                <div>Returns & Exchanges</div>
                            </div>

                            <div class="returnText">

                                <div class="info-r">
                                    1. Please contact Customer Service on our site, indicating the item(s) you would like to return and the reason.
                                </div>
                                <div class="info-r">
                                    2. After receiving return instructions from us, please package up the item(s) to be returned with the original packing.
                                </div>
                                <div class="info-r">
                                    3. Drop off your package at the local post office.
                                </div>
                                <div class="info-r">
                                    4. Most returns are processed within 5 business days after we receive your package. We'll issue the refund to your GameStop wallet if we are not otherwise informed to refund to your payment account in advance. Wallet balance can be used on your next purchase or be withdrawn to your payment account. Once your refund has been issued, you will receive a confirmation email.
                                </div>
                            </div>
                        </div>
                        <div class="returnMain">
                            <div class="returnHeader">
                                <div>Return Conditions</div>
                            </div>

                            <div class="returnText">
                                <div class="info-r">
                                    1. You have 30 days to decide if an item is right for you, if you would like to return or exchange the item please contact us within 30 days of delivery.
                                </div>
                                <div class="info-r">
                                    2. The following items cannot be returned or exchanged: bodysuits, lingerie, swimwear, jewelry, underwear, event & party supplies, DIY supplies, pet supplies, beauty and accessories (except scarves, bags, and mermaid blankets).

                                </div>
                                <div class="info-r">
                                    3. Returned items must be in their unused condition with the original packing. We do not accept a returned item that has been worn, damaged, washed, or altered in any way.
                                </div>
                                <div class="info-r">
                                    4. Items with non-returnable marks and free gifts cannot be returned.
                                </div>
                                <div class="info-r">
                                    5. We do not accept returned items that have been sent back without proper returns requests.
                                </div>
                                <div class="info-r">
                                    6. We do not offer Freight To Collect (FTC) service for the packages returned to us. The returns will be made at your own cost.
                                </div>
                                <div class="info-r">
                                    7. Please be sure to double-check your returns before shipping them out. We are not responsible for the return of non-SHEIN products .
                                </div>
                            </div>
                        </div>
                        <div class="returnMain">
                            <div class="returnHeader">
                                <div>Return Address</div>
                            </div>

                            <div class="returnText">
                                <div class="info-r">
                                    Please contact our Customer Service if you wish to return any items to the nearest return address. You will receive a response as soon as possible.
                                    Note: Please do not send your return to the address on your package. That is not our return address and will affect the processing of your return.
                                    NOTE: If there is an issue with your return, please contact Customer Support within 180 days from the date your order was placed.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


