
@{
    ViewData["Title"] = "Support";
}


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>24/7 Support | GameStop</title>
    <link rel="stylesheet" href="~/assets/style/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel=”stylesheet” href=”https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css” />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"
          integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
          integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="icon" href="https://www.gamestop.com/on/demandware.static/Sites-gamestop-us-Site/-/default/dwfa874e29/images/favicons/favicon.ico">
</head>


<div class="return-center">
    <div class="return-section">
        <div class="container-fluid">
            <div class="row">
                <div class="allReturn col-lg-12">
                    <div class="returnAll">
                        <div class="topHeader">
                            24/7 Customer Service
                        </div>
                        <div class="returnMain">
                            <div class="returnHeader">
                                <div>Improve Customer Satisfaction</div>
                            </div>

                            <div class="returnText">

                                <div class="info-r">
                                    Your customers are spread throughout the country – or even globally – and they all have different schedules and may contact your company at different times for support. On top of that they all have their own preferred channels for communicating.
                                </div>
                                <div class="info-r">
                                    Simply having a part-time team of customer service representatives, or only opening up your phone, website chat or email during a certain time of day could pose issues for those without typical 9-5 schedules. When your customers are having issues, you want to know about it as soon as possible.
                                </div>
                                <div class="info-r">
                                    24/7 customer service and returns support is a key way to enhance customer satisfaction. No matter what time – day or night – a customer can initiate a return, or discuss an issue they’re having with your product or services, so that the appropriate action can be taken. This availability makes it easier to provide great customer service experiences – and ensures your customers always feel like their needs are being met.
                                </div>
                                <div class="info-r">
                                    4. Most returns are processed within 5 business days after we receive your package. We'll issue the refund to your GameStop wallet if we are not otherwise informed to refund to your payment account in advance. Wallet balance can be used on your next purchase or be withdrawn to your payment account. Once your refund has been issued, you will receive a confirmation email.
                                </div>
                            </div>
                        </div>
                        <div class="returnMain">
                            <div class="returnHeader">
                                <div>Streamline The Return Process</div>
                            </div>

                            <div class="returnText">
                                <div class="info-r">
                                    Your goal should always be to minimize the time it takes for a customer to make a return. The sooner they send their items back, the sooner you can process their refunds, and the sooner you can restock the returned product, to resell it to someone else. The longer it takes for a customer to return an item, the longer each of these processes will take.
                                </div>
                            </div>
                        </div>
                        <div class="returnMain">
                            <div class="returnHeader">
                                <div>Enhance Brand Loyalty & Recognition</div>
                            </div>

                            <div class="returnText">
                                <div class="info-r">
                                    Every company should make it their goal to be known for stellar customer service. Many successful businesses have built their entire brands on offering great, reliable, and always-available service.
                                </div>
                                <div class="info-r">
                                    Great service helps businesses build better brand reputations, and fosters loyalty with existing customers.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>