@inject ILayoutServices layoutservices 

@{ 
    Dictionary<string, string> settings = await layoutservices.GetSettingsAsync();
    IEnumerable<Category> categories = await layoutservices.GetCategoriesAsync();
    IEnumerable<SubCategory> subcategories = await layoutservices.GetSubCategoriesAsync();
    IEnumerable<Product> products = await layoutservices.GetProductsAsync();
    List<BasketVM> basketVMs = await layoutservices.GetBasket();

    HeaderVM headerVM = new HeaderVM
    {
        Settings = settings,
        Categories = categories,
        SubCategories = subcategories,
        Products = products,


    };
}


<!DOCTYPE html>
<html lang="en">
<link rel="icon" href="https://www.gamestop.com/on/demandware.static/Sites-gamestop-us-Site/-/default/dwfa874e29/images/favicons/favicon.ico">
<body>

    @await Component.InvokeAsync("Header", headerVM)


    @RenderBody()



    <div class="scroll-up">
        <a href="#" class="to-top">
            <i class="fa-solid fa-arrow-up"></i>
        </a>
    </div>


    @await Component.InvokeAsync("Footer", settings)

    <!--       _
          .__(.)< (MEOW)
           \___)
    ~~~~~~~~~~~~~~~~~~-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
            integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"
            integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/script/slider.js"></script>
    <script src="~/assets/script/script.js" asp-append-version="true"></script>
    <script src="~/assets/script/custom.js" asp-append-version="true"></script>
    <script src="~/assets/script/scroll-top.js"></script>
    <script src="~/assets/script/lock-menu.js"></script>
    <script src="~/assets/script/load-more.js"></script>
    @RenderSection("Script", false)

</body>

</html>