@model IEnumerable<Product>


@foreach (Product product in Model)
{
    <div class="search-item">
        <a href="#">
            <span class="search__text">
                <span>@product.Title</span>
            </span>
        </a>
    </div>
}

