@model List<Category>


<div class="content">
    <div class="main product-index">
        <div class="row">
            <div class="d-flex">
                <div class="col-4 mb-3">
                    <h2>Category</h2>
                </div>
                <div class="col-8 d-flex justify-content-end">
                    <a asp-area="admin" asp-controller="category" asp-action="create">
                        <div class="btn btn-primary create-btn">Create</div>
                    </a>
                </div>
            </div>
               <div class="product-filter">

                    <div class="sort-section">


                        <div class="select">
                            <i class="fa-solid fa-filter"></i>
                            <select>

                                <option>

                                    Best Matches

                                </option>
                                <option>

                                    Price Low To High

                                </option>
                                <option>
                                    Product Name A - Z
                                </option>
                                <option value="1">
                                    Product Name Z - A
                                </option>
                                <option value="2">
                                    Most Popular
                                </option>
                                <option value="3">
                                    Top Sellers
                                </option>
                                <option value="1">
                                    Release Date Oldest to Newest
                                </option>
                                <option value="2">
                                    Release Date Newest to Oldest
                                </option>
                                <option value="3">
                                    Most Relevant
                                </option>
                            </select>
                        </div>

                        <form>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="sortBold"></span><span class="selected-option"> Best Matches</span>
                                </button>
                                <ul name="status" class="dropdown-menu">
                                    <span class="up-arrow"></span>

                                    <li><a class="dropdown-item sort-item priceSortArea" asp-area="admin" asp-controller="category" asp-action="matched" asp-route-id="@Model.Select(x=>x.Id).FirstOrDefault()">Best Matches</a></li>
                                    <li><a class="dropdown-item sort-item priceSortArea" asp-area="admin" asp-controller="category" asp-action="OldToNew" asp-route-id="@Model.Select(x=>x.Id).FirstOrDefault()">Date Oldest to Newest</a></li>
                                    <li><a class="dropdown-item sort-item priceSortArea" asp-area="admin" asp-controller="category" asp-action="NewToOld" asp-route-id="@Model.Select(x=>x.Id).FirstOrDefault()">Date Newest to Oldtest</a></li>
                                    <li><a class="dropdown-item sort-item priceSortArea" href="/product/AtoZ/2">Category Name A-Z</a></li>
                                    <li><a class="dropdown-item sort-item priceSortArea" href="/product/ZtoA/2">Category Name Z-A</a></li>
                                </ul>
                            </div>
                        </form>


                    </div>
                </div>
            <div class="table-responsive mt-4 tbl-content">

                @await Html.PartialAsync("_CategoryIndexPartial", Model)
            </div>
        </div>
    </div>
</div>
