@model List<Category>


<div class="content">
    <div class="main product-index">
        <div class="row">
            <div class="d-flex">
                <div class="col-4">
                    <h2>Product</h2>
                </div>
                <div class="col-8 d-flex justify-content-end">
                    <a asp-area="admin" asp-controller="category" asp-action="create">
                        <div class="btn btn-primary create-btn">Create</div>
                    </a>
                </div>
            </div>
            <div class="table-responsive mt-4 tbl-content">

                @await Html.PartialAsync("_CategoryIndexPartial", Model)
            </div>
        </div>
    </div>
</div>
